@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container text-center">
    <h1 class="display-4">Bienvenido al sistema de Gestion de Tareas</h1>
    <h2 class="display-4">Para Equipos de Desarrollo</h2>
    <p>Leer acerca de <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
